MAILER_USER = bosimao94@gmail.com
MAILER_PASS = guujbmpvbteydsjl
MAILER_HOST = smtp.gmail.com
MAILER_PORT = 587
MONGO_URI = mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.8.0
RABBITMQ_URL = amqp://user:pwd@127.0.0.1:5672/test